<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 center col-12">
            <a [routerLink]="''">Semáforo de Tareas</a>
        </div>
        <div class="col-md-6 left col-12 center">
            <div class="row mt-2">
                <div class="col-4">
                    <div class="row">
                        <div class="col-12 center">
                            <span class="material-icons red">circle</span>
                        </div>
                        <div class="col-12 center">
                            <span>Iniciada</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-12 center">
                            <span class="material-icons yellow">circle</span>
                        </div>
                        <div class="col-12 center">
                            <span>En Proceso</span>
                        </div>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="row">
                        <div class="col-12 center">
                            <span class="material-icons green">circle</span>
                        </div>
                        <div class="col-12 center">
                            <span>Terminada</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
