.tarea{
    font-size: xx-large;
}
#add{
    font-size: 80px;
}
#texto{
    display: flex;
    position: relative;
    left: 80px;
    bottom: 60px;
}
#x{
    font-size: 40px;
}
button{
    border: none;
    background: transparent;
}
a{
    text-decoration: none;
    color: black;
}